<footer class="footer">
    <div class="container footer-container">
        <div class="grid">
            <div>
                <h3 class="title">Link</h3>
                <ul>
                    <li class="item"><a href="/"><i class="fas fa-chevron-right icon"></i>home</li></a>
                    <li class="item"><a href="/about"><i class="fas fa-chevron-right icon"></i>about</li></a>
                    <li class="item"><a href="/Doctor"><i class="fas fa-chevron-right icon"></i>doctors</li></a>
                    <li class="item"><a href="/blog"><i class="fas fa-chevron-right icon"></i>blogs</li></a>
                </ul>
            </div>
            <div>
                <h3 class="title">Other page</h3>
                <ul>
                    <li class="item"><a href="/Doctor"><i class="fas fa-chevron-right icon"></i>Specialist</li></a>
                    <li class="item"><a href=""><i class="fas fa-chevron-right icon"></i>Hospital</li></a>
                    <li class="item"><a href=""><i class="fas fa-chevron-right icon"></i>City</li></a>
                </ul>
            </div>
            <div>
                <h3 class="title">contact info</h3>
                <ul>
                    <li class="item"><a href=""><i class="fas fa-envelope icon"></i>@Treatment-Finder</li></a>
                    <li class="item"><a href="/contact"><i class="fas fa-chevron-right icon"></i>contact</li></a>
                </ul>
            </div>
            <div>
                <h3 class="title">follow us</h3>
                <ul class="social">
                  <li class="item"><a href=""><i class="fab fa-facebook icon"></i>facebook</li></a>
                  <li class="item"><a href=""><i class="fab fa-linkedin icon"></i>linkedin</li></a>
                  <li class="item"><a href=""><i class="fab fa-pinterest icon"></i>pinterest</li></a>
                  <li class="item"><a href=""><i class="fab fa-instagram icon"></i>instagram</li></a>
                  <li class="item"><a href=""><i class="fab fa-tiktok icon"></i>tiktok</li>
                  </a>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="text">&copy; 2025| <span class="highlight">Treatment-Finder</span> | All rights reserved</p>
        </div>
    </div>
</footer>